---
layout: home
permalink: /
---


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Column / Sidebar -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="column-container">
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Sidebar -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="column-one-fourth sidebar">
                <h2>MCSC</h2>
                <p>The Maine Cyber Security Cluster (MCSC) is an academic and research center bringing together government, industry, and academia dedicated to workforce and economic development in the field of cyber security.</p>
                <p>Located on the Portland Campus of the University of Southern Maine, MCSC is situated in the commercial and entrepreneurial heart of Maine. As a statewide entity, MCSC research and education initiatives span more than 400 miles via a virtual collaboratory that connects York County in the south with Aroostook County in the north.</p>
                <p>The cluster serves a central role in the University of Maine’s designation by the National Security Agency and the Department of Homeland Security as a National Center for Academic Excellence in Information Assurance and Cyber Security Education.</p>
              </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Sidebar -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Main Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
             <div class="column-one-half">
                <h1>Featured Student Projects</h1>
                <a href="/what-we-do/student-projects/">View all student projects</a>
                <p></p>

                <h2><a href="/what-we-do/student-projects/">Beta Port</a></h2>
                <p><strong>Students:</strong> Samuel Barton, Christina Costello, Zachary Landry, Alex Weeman</p>
                <p><a href="/what-we-do/student-projects/"><img src="/img/BPP_at_MCSC (1)_web.jpg" alt="Students at MCSC" width="500"></a>Beta Port, loosely modeled on the city of Portland, is a cyber security exercise environment. Students architected the Beta Port infrastructure used in the Collaboratory cyber security simulation pictured above.</p>

                <h2><a href="/what-we-do/student-projects/">Vulnerability Assessment</a></h2>
                <p><strong>Students:</strong> Tyler LaBerge, Vincent Orlando</p>
                <p><a href="/what-we-do/student-projects/"><img src="/img/vulnerability-assessment.jpg" alt="Vulnerability Assessment participants" width="500"></a>Students work to detect and map vulnerable networks with low or no encryption. This includes "war driving" around town with a wifi antenna listening for networks.</p>

                <h2><a href="/what-we-do/student-projects/">Simutrans</a></h2>
                <p><strong>Students:</strong> Storme Charette, Katrina Sabochick</p>
                <p><a href="/what-we-do/student-projects/"><img src="/img/usm-shuttlebus-simulation%20(1).png" width="500" alt="A model of USM's shuttle bus service created in Simutrans"></a>Simutrans is an open-source transportation game similar to SimCity. It’s being used to create a real-time replica of Beta Port, the fictional city used in the Collaboratory cyber security simulations.</p>
             </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Main Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
               <div class="column-one-fourth sidebar">
                <h2>Recent News</h2>

                  <ul class="post-list">
                    {% for post in site.categories.news limit:10 %}
                      <li>
                          <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><h4>
                        <p class="post-meta">{{ post.date | date: "%b %Y" }}</p>
                      </li>
                    {% endfor %}
                  </ul>

                  <h2>Upcoming Events</h2>

                  <ul class="post-list">
                    {% for post in site.categories.events limit:10 %}
                      <li>
                          <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><h4>
                        <p class="post-meta">{{ post.date | date: "%b %Y" }}</p>
                      </li>
                    {% endfor %}
                  </ul>

                  <h2>Past Events</h2>

                  <ul class="post-list">
                    {% for post in site.categories.archive limit:5 %}
                      <li>
                          <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><h4>
                        <p class="post-meta">{{ post.date | date: "%b %Y" }}</p>
                      </li>
                    {% endfor %}
                  </ul>

              </div>
             </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Column / Sidebar -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


