      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Footer Container -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="footer-container">

        <!-- Spacer (20px gap) -->
        <div class="spacer"></div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Client Logos -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="content-width">
          <div class="client-logos-container">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Title -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="client-logos-title">
              <span>Collaborators</span>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Title -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Navigation (Back / Next) -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div id="clients-back"></div>
            <div id="clients-next"></div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Navigation -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Carousel -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="carousel">
              <ul id="clients-carousel" class="column-container">

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/goldlogo.jpg"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/logo_quantrix.png"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/logo_tilson.jpg"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/logo_unum.jpg"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/logo_wex.jpg"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/MaineSystemlogo.jpg"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/CCWILogo_Trans_125x78.png"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/MaineSystemlogo.jpg"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <li class="">
                  <div class="logo-outer">
                    <div class="logo-inner">
                      <!-- Actual Logo -->
                      <img alt="" src="{{ site.baseurl }}/img/logos/SYSENGLogo_Trans_200x59.png"/>
                    </div>
                  </div>
                </li>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- END Logo -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              </ul>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Carousel -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Client Logos -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Footer Infobar -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="footer-infobar">
          <div class="content-width">
            <!--
                <ul class="footer-social">
                  <li>
                    <a href="#"><i class="fa fa-linkedin-square"></i><div class="tooltip">LinkedIn</div></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/pages/Maine-Cyber-Security-Cluster-MCSC/558343430961394"><i class="fa fa-facebook"></i><div class="tooltip">Facebook</div></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i><div class="tooltip">Twitter</div></a>
                  </li>
                 
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i><div class="tooltip">Google+</div></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-youtube"></i><div class="tooltip">YouTube</div></a>
                  </li>
                  <li>
                    <!--<a href="#"><i class="fa fa-pinterest"></i><div class="tooltip">Pinterest</div></a>
                  </li>
                </ul>
              -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Footer Infobar -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Footer -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="footer">
          <div class="content-width">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Four Columns -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-container">
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Four Columns -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Footer Navigation -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="footer-lower-container">

              <ul class="footer-lower">
                
                <li><a href="{{site.baseurl}}">Home</a></li>
                <li><a href="{{site.baseurl}}about/">About</a></li>
                <li><a href="{{site.baseurl}}research/studentres.html">Research</a></li>
                <li><a href="{{site.baseurl}}education">Education</a></li>
                <li><a href="{{site.baseurl}}news/">News</a></li>
                <li><a href="{{site.baseurl}}resources/">Resources</a></li>
                <li><a href="{{site.baseurl}}contact.html">Contact Us</a></li>
             
              </ul>

              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- Copyright -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="footer-copyright">
                Copyright &copy; 2015 <a href="index.html">Maine Cyber Security Cluster</a> University of Southern Maine
              </div>
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <!-- END Copyright -->
              <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Footer Navigation -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

           

          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END Footer -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Footer Container -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END Main Container -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->