
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Top Bar - Set "white" or "dark" below -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="topbar-outer dark">
        <div class="topbar content-width">

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Logo -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="table fullheight">
            <div class="table-cell fullheight middle">
              <!--<div class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>-->
              <div class="logo"><a href="{{ site.baseurl }}/"><img style="width:45%" src="{{ site.baseurl }}/img/logos/header2.png"></img></a></div>
            </div>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Logo -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        
          

        
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <a href="#" class="mobilenav-click">
          <div class="mobilenav-button-container">
            <div class="mobilenav-button-inner">
              <div class="mobilenav-button"></div>
            </div>
          </div>
          </a>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Navigation Menu (Populated using jQuery) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <div class="mobilenav-container">
            <ul class="mobilenav">
            </ul>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Navigation Menu
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <ul id="header_links">  
              <!--<li><a href="/new_mcsc/index.php" class="header_font">Home</li>-->
              <li><a href="{{site.baseurl}}contact.html" class="header_font">Contact Us</li>
              <li><a href="{{site.baseurl}}sitemap.html" class="header_font">Sitemap</li>          
            </ul>
        </div>
      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Top Bar -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

      
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- CTA Bar - Set "white", "accent" or "dark" -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!--
      <div class="home-cta-bar-container accent">

        <div class="content-width">
          <div class="home-cta-bar">


             <!--    
              <ul class="topnav">
              {% for page in site.pages %}
                 {% if page.title %}
                   <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
            <!-- Text -->
        <!--  
          <ul class="topnav">
            <li><a href="{{ site.baseurl }}index.html" class="current">Home</a></li>
            <li><a href="{{ site.baseurl }}about/index.html">About</a>
              <ul>
                <li><a href="{{ site.baseurl }}about/index.html">Director's Overview</a></li>
                <li><a href="{{ site.baseurl }}about/collaborators.html">Collaborators</a></li>
                <li><a href="{{ site.baseurl }}about/sponsors.html">Sponsors</a></li>
                <li><a href="{{ site.baseurl }}about/facultystaff.html">Faculty and Staff</a></li>
                <li><a href="{{ site.baseurl }}about/student.html">Students</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}research/index.html" class="drop">Research</a>
              <ul>
                <li><a href="{{ site.baseurl }}research/index.html">Research Profiles</a></li>
                <li><a href="{{ site.baseurl }}research/selectedpub.html">Selected Publications</a></li>
                <li><a href="{{ site.baseurl }}research/selectedpres.html">Selected Presentations</a></li>
                <li><a href="{{ site.baseurl }}research/studentres.html">Student Research</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}education/index.html" class="drop">Education</a>
              <ul>
                <li><a href="{{ site.baseurl }}education/media.html">Media</a></li>
                <li><a href="{{ site.baseurl }}education/index.html">Outreach</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}news/index.html" class="drop">News</a>
              <ul>
                <li><a href="{{ site.baseurl }}news/index.html">Current</a></li>
                <li><a href="{{ site.baseurl }}news/archive.html">Archive</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}resources/index.html" class="drop">Resources</a>
              <ul>
                <li><a href="{{ site.baseurl }}resources/coe.html" class="drop">Calendar of Events</a></li>
              </ul>
            </li>
          </ul>
      
          </div>
        </div>

      </div>
     