<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Categories -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget categories">
								<!-- Title -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Categories -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Search -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget search">
								<!-- Title -->

								<!-- Search Form -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Search -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Latest Project -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget project">
								<!-- Title -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Latest Project -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget posts">
								<!-- Title -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->

								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->

								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">


								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->