<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="light-bg">
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Main Container -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="main-container home">
    {% include header.html %}  
    {% include nav.html %}

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Main Content -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="main-content">
        <div class="main-content-inner content-width">
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Column / Sidebar -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="column-container">

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Main Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="column-one-half">
               {{ content }}

               
           </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Main Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Sidebar -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="column-one-fourth">
                {% include announcebar.html %}
              </div>
                 
             
              <div class="column-one-fourth sidebar">
                {% include upcomingevents.html %}
                
              </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Sidebar -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
             </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Column / Sidebar -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      </div>
    </div>

    {% include footer.html %}
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END Main Container -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  </body>

</html>
