<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="light-bg">
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Main Container -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="main-container">
    {% include header.html %}  
    {% include nav.html %}

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Main Content -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="main-content">
        <div class="main-content-inner content-width">
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Column / Sidebar -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="column-container">
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Sidebar -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
              <div class="column-one-fourth sidebar">
                {% include res_bar.html %}
              </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Sidebar -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Main Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
             <div class="column-three-qtr">
               {{ content }}
             </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- END Main Column -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          
             </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Column / Sidebar -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      </div>
    </div>

    {% include footer.html %}
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END Main Container -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  </body>

</html>
